/*
 * Color pallete: Dark Toad by LJK
 * Dark Toad: http://www.colourlovers.com/palette/159849/Dark_Toad
 * LJK: http://www.colourlovers.com/lover/LJK
 * Brown: 2C1E1E
 * Greyish: 32382C
 * Dark green: 235D23
 * Light green: C6D5B0
 * Yellowish: DFFF6D
 */

* {
    box-sizing: border-box;
}

body.deck-container {
    background-attachment: fixed;
    background-image: url(images/chain.png);
    background-position: 0 98%;
    background-repeat: repeat-x;
    color: #2c1e1e;
}

.note {
    display: none;
}

.deck-container .slide h1 {
    color: #235d23;
}

a,
a:visited {
    color: #2c1e1e !important;
}

/*
 * Title slide.
 */

.big-chain {
    background-image: url(images/chain.60.png);
    background-repeat: repeat-x;
    height: 60px;
    position: absolute;
    right: -150px;
    top: 200px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 700px;
}

.lightbox {
    background-color: #222222;
    bottom: 0;
    left: 0;
    opacity: 0.75;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}

/* Hide the default chain background on the title slide. */
body.deck-container.on-slide-0 {
    background-image: none;
}

.on-slide-0 section {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.deck-container.on-slide-0 .slide h1 {
    color: #235d23;
    font-family: graduate;
    font-size: 150%;
    height: 35px;
    position: absolute;
    z-index: 9;
}

.deck-container.on-slide-0 .slide #title-first-line {
    right: 163px;
    top: 257px;
}

.deck-container.on-slide-0 .slide #title-second-line {
    right: 119px;
    top: 287px;
}

.deck-container.on-slide-0 .slide h2 {
    color: #c6d5b0;
    font-family: graduate;
    font-size: 120%;
    height: 35px;
    position: absolute;
    right: 102px;
    top: 331px;
    z-index: 9;
}

/*
 * About me slide.
 */
.slide.about-me div {
    margin: 2em auto;
    width: 700px;
}

.slide.about-me img {
    float: left;
    margin-right: 1em;
}

.slide.about-me .about {
    font-size: 120%;
    height: 70px;
    margin: 0;
}

/*
 * About this talk slide.
 */
.slide.about-talk img {
    margin-top: 2em;
    width: 100%;
}

/*
 * Onward and graduation slides.
 */
.slide.onward div,
.slide.graduation div {
    height: 100%;
    text-align: center;
    width: 100%;
}

.slide.onward img,
.slide.graduation img {
    margin-top: 2em;
}

/*
 * In the beginning slide.
 */
.beginning {
    font-family: Chau Philomene One;
    font-size: 800%;
}

.beginning div {
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
}

#in {
    color: #C6D5B0;
    margin-top: 40px;
    position: absolute;
    right: 50%;
    text-align: right;
}

#the {
    color: #DFFF6D;
    position: absolte;
    left: 50%;
    margin-bottom: -31px;
    margin-left: -19px;
    text-align: left;
    top: 54px;
    width: 200px;
    -webkit-transform: rotate(90deg);
}

#beginning {
    color: #235D23;
    margin-left: 54px;
}

/*
 * How programming works slide.
 */
.programming div {
    text-align: center;
    width: 100%;
}

#blocker {
    background-color: #ffffff;
    height: 15px;
    left: 50%;
    margin-left: -83px;
    position: absolute;
    top: 22px;
    width: 144px;
    z-index: 9;
}

/*
 * Don't use source control slide.
 */
.no-source-control div {
    height: 100%;
    margin: 2em auto;
    overflow: hidden;
    position: relative;
    width: 329px;
}

.no-source-control img {
    width: 150px;
}

#perforce {
    left: -11px;
    position: relative;
    top: -100px;
    -webkit-transform: rotate(45deg);
}

#mark {
    color: #f00;
    font-size: 1666%;
    height: 450px;
    margin-left: -138px;
    margin-top: -109px;;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 9;
}

/*
 * No staging slide.
 */
.no-staging div {
    text-align: center;
    width: 100%;
}

.no-staging img {
    margin: 2em auto;
}

/*
 * No unit tests slide.
 */
.no-unit-tests {
    text-align: center;
}

.no-unit-tests img {
    margin: 2em auto;
}

/*
 * Hiding cat slide.
 */
.hiding {
    text-align: center;
}

.hiding img {
    margin: 2em auto;
}

/*
 * Embarassed slide.
 */
.embearass {
    text-align: center;
}

.embearass img {
    margin: 2em auto;
}

/*
 * Ninja slide.
 */
.ninja {
    text-align: center;
}

.ninja img {
    margin: 2em auto;
}

/*
 * Baby ninja.
 */
.baby-ninja {
    text-align: center;
}

.baby-ninja img {
    margin: 2em auto;
}

/*
 * Example toolchain.
 */
.toolchain-example .container {
    margin: 1em 0;
    position: relative;
}

.toolchain-example .box {
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 120%;
    height: 3em;
    padding-top: .9em;
    position: absolute;
    text-align: center;
    width: 6em;
}

.toolchain-example .two-line {
    padding-top: 0.33em;
}

.toolchain-example div.arrow {
    border-radius: 0;
    height: 15px;
    padding: 0;
    position: absolute;
    width: 3em;
}

.toolchain-example div.arrow .tail {
    border-top: 1px solid #000000;
    position: absolute;
    top: 7px;
    width: 100%;
}

.toolchain-example div.arrow .head {
    border-bottom: 7px solid transparent;
    border-left: 14px solid #000000;
    border-top: 7px solid transparent;
    height: 0;
    padding: 0;
    position: absolute;
    top: 1px;
    right: 0;
    width: 0;
}

.toolchain-example #toolchain-example-coder {
    border: 2px dashed #0000cc;
    font-size: 120%;
    left: -1em;
    height: 7.5em;
    position: absolute;
    top: 1em;
    width: 7em;
}

.toolchain-example #toolchain-example-coder .box {
    height: 2em;
    padding-top: 0.5em;
    width: 4em;
}

.toolchain-example #toolchain-example-tests {
    left: 0.5em;
    top: 1em;
}

.toolchain-example #toolchain-example-test-arrow {
    left: 5.3em;
    top: 2.5em;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    width: 2.7em;
}

.toolchain-example #toolchain-example-code {
    left: 1em;
    top: 3.5em;
}

.toolchain-example #toolchain-example-code-arrow {
    left: 5.9em;
    top: 4.5em;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    width: 2.1em;
}

.toolchain-example #toolchain-example-scm {
    left: 7em;
    top: 3.5em;
}

.toolchain-example #toolchain-example-scm-arrow {
    left: 15.55em;
    top: 5.5em;
    width: 2.5em;
}

#toolchain-example-ci {
    left: 15em;
    top: 3.5em;
}

.toolchain-example #toolchain-example-ci-fail-arrow {
    left: 24.6em;
    top: 4.2em;
    transform: rotate(-53deg);
    -webkit-transform: rotate(-53deg);
    width: 3em;
}

.toolchain-example #toolchain-example-ci-pass-arrow {
    left: 24.6em;
    top: 7.5em;
    transform: rotate(53deg);
    -webkit-transform: rotate(53deg);
    width: 3em;
}

.toolchain-example #toolchain-example-red {
    background-color: #ff9999;
    left: 22.5em;
    top: 1em;
}

.toolchain-example #toolchain-example-red-arrow {
    left: 7.2em;
    top: 2.5em;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    width: 19.85em;
}

.toolchain-example #toolchain-example-green {
    background-color: #99ff99;
    left: 22.5em;
    top: 6.5em;
}

.toolchain-example #toolchain-example-green-arrow {
    left: 23.05em;
    transform: rotate(126deg);
    -webkit-transform: rotate(126deg);
    top: 10.9em;
    width: 5em;
}

.toolchain-example #toolchain-example-staging {
    left: 17em;
    top: 11em;
}

.toolchain-example #toolchain-example-staging-fail-arrow {
    left: 6.85em;
    transform: rotate(-160deg);
    -webkit-transform: rotate(-160deg);
    top: 11em;
    width: 14em;
}

.toolchain-example #toolchain-example-staging-pass-arrow {
    left: 16.75em;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    top: 14.7em;
    width: 3.7em;
}

.toolchain-example #toolchain-example-production {
    background-color: gold;
    left: 8em;
    top: 11em;
}

/* Toolchain discussions */
.toolchain-example-coding,
.toolchain-example-scm,
.toolchain-example-ci,
.toolchain-example-fail {
    background-attachment: fixed !important;
    background-image: url(images/chain.png) !important;
    background-position: 0 98% !important;
    background-repeat: repeat-x !important;
    height: 100%;
}

.toolchain-example-coding #toolchain-example-coder,
.toolchain-example-scm #toolchain-example-scm,
.toolchain-example-ci #toolchain-example-ci {
    background-color: #ffffff;
    z-index: 10;
}

.source-control-discussion {
    text-align: center;
    width: 100%;
}

#filing-cabinet {
    height: 600px;
    margin-top: 1em;
}

.source-control-discussion img {
    margin-top: 1em;
}

.ci-discussion.failure {
    font-family: 'Eater', cursive;
    font-size: 400%;
    text-align: center;
}

.ci-discussion.failure #ci-discussion-failure {
    color: #235D23;
}

.ci-discussion.failure #ci-discussion-is-an {
    font-size: 50%;
}

.ci-discussion.failure .check {
    color: #234D23;
    display: inline-block;
    position: relative;
}

.ci-discussion.failure .box {
    border: 3px solid #234D23;
    display: inline-block;
   height: 1em;
    left: -0.125em;
    position: absolute;
    top: 0.5em;
    width: 1em;
}

.ci-discussion.fix-this,
.ci-fail-discussion {
    text-align: center;
}

.ci-discussion.fix-this img,
.ci-fail-discussion.email img {
    margin-top: 1em;
    width: 600px;
}

.toolchain-example-fail #toolchain-example-red {
    z-index: 10;
}

.ci-fail-discussion.indicator img {
    margin-top: 1em;
    width: 400px;
}
