/*
 * Color pallete: Dark Toad by LJK
 * Dark Toad: http://www.colourlovers.com/palette/159849/Dark_Toad
 * LJK: http://www.colourlovers.com/lover/LJK
 * Brown: 2C1E1E
 * Greyish: 32382C
 * Dark green: 235D23
 * Light green: C6D5B0
 * Yellowish: DFFF6D
 */

body.deck-container {
    background-attachment: fixed;
    background-image: url(chain.png);
    background-position: 0 98%;
    background-repeat: repeat-x;
    color: #2c1e1e;
}

.deck-container.on-slide-0 .slide h1 {
    font-family: graduate;
}

.deck-container.on-slide-0 .slide h2 {
    font-family: graduate;
}
